@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="content">
        <div id="topic">
            <img src="~/images/sharingan_icon.png">
            <p>ABOUT THE GAME</p>
            <img src="~/images/sharingan_icon.png" style="float: right;">
        </div>
        <div id="main_content">
            <p>
                - I have decided to continue another fan project of NTSD by Tyci, the Community Edition, and develop it further. I am proud to introduce Naruto: The Setting Dawn Community Edition Storm (NTSDCES) which is now ready to be released to fans.<br>
                - NTSDCES is a game centered around the Naruto Shippuden series. Players will take on the roles of characters from the series and participate in major ninja wars together. Compared to NTSD 2.4 and NTSDCE, NTSDCES has been improved and upgraded by me to enhance the player experience. The game has also integrated tools to connect players with each other, allowing for both offline and online play.<br>
                - It is a fighting and role-playing game where players directly control the characters' actions. It is easy to control but difficult to master.<br>
                - The storyline closely follows Naruto Shippuden, with players facing off against Akatsuki members from Sasori, Deidara, Kakuzu, Hidan, to the Pain Six Paths squad.<br>
                - Notable feature: players will join Naruto and his teammates as they prepare for the Fourth Great Ninja War.<br>
                - The game is compatible with Windows 7, 8, 10, and 11 operating systems.
            </p>
        </div>
    </div>
</div>