
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="content">
        <div id="topic">
            <img src="~/images/sharingan_icon.png">
            <p>CREDITS</p>
            <img src="~/images/sharingan_icon.png" style="float: right;">
        </div>
        <div id="main_content" style="text-align: center;">
            <p>
                NTSDCES developers:<br>
                TheLMoD - coder, spriter.<br>
                darkfiren - neora supporter.
            </p>
            <hr width="400px">
            <p>
                Other Credits:<br>
                Neora Engine - Alkarter, Drakken, Lord Silva, 1477, Surik, Archer-Dante.<br>
                NTSD 2.4 team - zxcv11791, konkisuke, nave, Zazz, Krele, kentaru-chou, Z, pimpen itachi, ZXO, Nick65, Zebas1.<br>
                NTSD 2.x present team - Remie, John Muffin and community worker The Scar.<br>
                NTSD CE team - Tyci, tobivv.<br>
                Little Fighter 2 - Marti Wong and Starsky Wong.<br>
                Naruto series - Masashi Kishimoto.<br>
                Naruto game ideas - Naruto Shippuden Ultimate Ninja Storm.
            </p>
        </div>
    </div>
</div>